.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  max-width: 405px;
  margin: 50px auto;
  border-radius: 20px;
  padding: 20px 30px;
  box-shadow: 0 0 9px rgba(0, 0, 0, 0.3);
}
.todo-date {
  border-bottom: 1px solid #4158d0;
  width: 100%;
  text-align: center;
  padding-bottom: 20px;
}

.tasks {
  width: 100%;
  margin: 20px 8px;
  color: rgba(0, 0, 0, 0.9);
}

.add-btn {
  text-align: center;
}
.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 12px;
  width: 100%;
}
